@use 'token' as *;
@use 'mixin';

// ==============================
// Reset / Base
// ==============================
*,
*::before,
*::after {
    box-sizing: border-box;
}

:where(h1, h2, h3, h4, h5, h6, p, ul, ol, figure) {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

// ==============================
// Body Base
// ==============================
html,
body {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    color: #000;
    background: #fff;
    line-height: 1.6;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}